{% extends 'base/basic.html' %}
{% load static %}

{% block title %}{{ event.name }} | Abhisarga 2020{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/event.css' %}">
{% endblock %}

{% block content %}
    <div id="event-container">
        <div id="event-image">
            <img src="{{ event.poster.url }}" alt="{{ event.name }}">
        </div>
        <div id="event-detail">
            <h1 title="{{ event.name }}">{{ event.name }}</h1>
            <h2>{{ short_description }}</h2>
            <p>
                {{ event.description }}
            </p>
            <div id="ev-venue">Venue: {{ event.venue }}</div>
            <div id="ev-time">Date: {{ event.date }}</div>
            <div id="ev-contact">Contact: {{ event.contact_number }}</div>
            <div id="ev-prize">
                <span>1st Prize: {{ event.first_prize }}</span>
                <span>2nd Prize: {{ event.second_prize }}</span>
                <span>3rd Prize: {{ event.third_prize }}</span>
            </div>
            <a id="event-register" href="">Register</a>
            <div id="event-rule" class="">
                {% for rls in event.rules %}
                    <span>{{ rls }}</span>
                {% endfor %}
            </div>
            <div id="rule-open-button" title="Rules"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        let rlb = document.getElementById("event-rule");
        let btn = document.getElementById("rule-open-button");

        function ruleToggle() {
            rlb.classList.toggle("ruleopen");
            btn.classList.toggle("ruleopen");
        }

        btn.onclick = function () {
            ruleToggle();
        }
    </script>
{% endblock %}