{% extends 'base/basic.html' %}
{% block title %}Events | Abhisarga 2020{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock %}
{% block content %}
    <div id="categories">
        <div class="category active">All</div>
        <div class="category">Technical</div>
        <div class="category">Cultural</div>
        <div class="category">Music</div>
        <div class="category">Dance</div>
        <div class="category">Workshops</div>
        <div class="category">Hackathon</div>
    </div>

    <div id="all-events">
        {% for e in events %}
            <div class="event-card">
                <div class="event-title">
                    {{ e.name }}
                </div>
                <div class="event-content">
                    {{ e.description }}
                </div>
                <div class="event-register">
                    Register
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="space"></div>
{% endblock %}
