{% extends 'base/basic.html' %}
{% load static %}
{% load event_registration %}
{% block title %}{{ event.name }} | Abhisarga 2020{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/event.css' %}">
{% endblock %}

{% block content %}
    <div id="event-container">
        <div id="event-image">
            <img src="{{ event.poster.url }}" alt="{{ event.name }}">
        </div>
        <div id="event-detail">
            <h1 title="{{ event.name }}">{{ event.name }}</h1>
            <h2>{{ short_description }}</h2>
            <p>
                {{ event.description }}
            </p>
            <a {% if event.rule_pdf %}href="{{ event.rule_pdf.url }}"{% endif %} download="{{ event.name }} Rules"
               id="ev-download-button" class="{% if not event.rule_pdf %}unavailable{% endif %}">Download
                Rules</a>
            <div id="ev-venue">Venue: {{ event.venue }}</div>
            <div id="ev-time">Date: {{ event.date }}</div>
            <div id="ev-contact">Contact: {{ event.contact_number }}</div>
            <div id="ev-prize">
                <span>1st Prize: {{ event.first_prize }}</span>
                <span>2nd Prize: {{ event.second_prize }}</span>
                <span>3rd Prize: {{ event.third_prize }}</span>
            </div>
            {% if request.user.is_authenticated and request.user|is_registered:event %}
                <a id="event-register">Registered</a>
            {% else %}
                {% if not event.registration_open %}
                    <a id="event-register">Closed</a>
                {% elif event.simple_max_limit_reached %}
                    <a id="event-register">Full</a>
                {% else %}
                    <a id="event-register" href="{% url 'event_register_view' event.pk %}">Register</a>
                {% endif %}
            {% endif %}
            <div id="event-rule" class="">
                {% for rls in event.rules %}
                    <span>{{ rls }}</span>
                {% endfor %}
            </div>
            <div id="rule-open-button" title="Rules"></div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        let rlb = document.getElementById("event-rule");
        let btn = document.getElementById("rule-open-button");

        function ruleToggle() {
            rlb.classList.toggle("ruleopen");
            btn.classList.toggle("ruleopen");
        }

        btn.onclick = function () {
            ruleToggle();
        }
    </script>
{% endblock %}