{% extends 'base/basic.html' %}
{% load static %}
{% block title %}Events | Abisarga 2020{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock %}

{% block content %}
    <div id="ev-categories">
        {% for ct in categories %}
            <div class="ev-category{% if forloop.counter0 is 0 %} ev-active{% endif %}" data-event="{{ ct.slug_name }}">
                {{ ct.name }}
            </div>
        {% endfor %}
    </div>

    {% for ct in categories %}
        <div class="ev-all-events{% if forloop.counter0 == 0 %} selected-event{% endif %}"
             data-event="{{ ct.slug_name }}">
            {% for ev in ct.events.all %}
                <div class="ev-event-card">
                    <div class="ev-event-title">
                        {{ ev.name }}
                    </div>
                    <div class="ev-event-content">
                        {{ ev.description }}
                    </div>
                    <a class="ev-event-button" href="{% url 'event_detail' pk=ev.pk %}">
                        View More
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}

{% block script %}
    <script>
        let btns = document.getElementsByClassName("ev-category");
        let displays = document.getElementsByClassName("ev-all-events");
        for (let i = 0; i < btns.length; i++) {
            let src = btns[i].getAttribute("data-event");
            btns[i].addEventListener("click", function () {
                switch_event(src);
            });

            function switch_event(src) {
                for (let i = 0; i < btns.length; i++) {
                    if (btns[i].getAttribute("data-event") != src) {
                        btns[i].classList.remove("ev-active");
                    } else {
                        btns[i].classList.add("ev-active");
                    }
                }
                for (let i = 0; i < displays.length; i++) {
                    if (displays[i].getAttribute("data-event") != src) {
                        displays[i].classList.remove("selected-event");
                    } else {
                        displays[i].classList.add("selected-event");
                    }
                }
            }
        }
    </script>
{% endblock %}