db.sqlite3

__pycache__

.idea
.vscode

/venv/
/env/
/media/

!/media/profilepics/default_profile_pic.jpg
!/media/volunteer/default_volunteer_pic.jpg
!/media/events/default_event_poster.jpg


Pipfile
Pipfile.lock

.env
