{% extends 'base/basic.html' %}
{% load static %}
{% load event_registration %}
{% block title %}{{ profile.name }}{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"/>
{% endblock %}
{% block content %}
    <div id="profile-container">
        <div id="profile-info">
            <img src="{{ profile.profile_pic.url }}" alt="{{ profile.name }}">
            <h1>{{ profile.name }}</h1>
            <h2>{{ profile.email }}</h2>
            <a href="{% url 'password_change' %}">Change Password</a>
            {% if profile.phone_numer %}
                <span>{{ profile.phone_number }}</span>
            {% endif %}
            <span>{{ profile.college.name }}</span>
        </div>
        <div id="profile-event-info">
            {% if not request.user.is_authenticated or not request.user|is_registered_any %}
                <h1>You haven't registered for any event.</h1>
                <a href="{% url 'events' %}">
                    <button>View all events</button>
                </a>
            {% else %}
                {% for r in request.user.profile.registrations.all %}
                    <div class="event-data-info">
                        <h2>{{ r.event.name }}</h2>
                        <div class="button-together">
                            <a href="{% url 'event_registration' r.event.pk %}">
                                <button>View</button>
                            </a>
                            <a href="{% url 'event_registration_edit' r.event.pk %}">
                                <button>Edit</button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}