{% extends 'base/basic.html' %}
{% load static %}
{% load error_show %}
{% block title %}Reset Password | Abhisarga 2020{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}
{% block content %}
    <div id="form-container">
        <img src="{% static 'images/forgot_password_top.png' %}" alt="Reset Password">
        <div id="main-form">
            <form method="post" action="{% url 'password_reset_complete' %}" id="forgot_password_submit">
                {% csrf_token %}
                <input type="hidden" name="idb64" value="{{ idb64 }}">
                <input type="hidden" name="token" value="{{ token }}">
                <input type="password" placeholder="Password" data-box="text" name="password1" id="user_password1"><i
                    class="password"></i>
                <input type="password" placeholder="Confirm Password" data-box="text" name="password2"
                       id="user_password2"><i
                    class="password"></i>
                <input type="button" value="Submit" data-box="button" onclick="check_submit()">
                <div class="form-error-message" id="forgot_password_error" style="display: none"></div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function check_submit() {
            let ps1 = document.getElementById('user_password1').value;
            let ps2 = document.getElementById('user_password2').value;
            if (ps1 !== ps2) {
                let b = document.getElementById('forgot_password_error');
                b.style.display = "block";
                b.innerHTML = "The passwords don't match";
            } else {
                document.getElementById('forgot_password_submit').submit();
            }
        }
    </script>
{% endblock %}

