{% extends 'base/basic.html' %}
{% load static %}
{% load error_show %}
{% block title %}Register | Abhisarga 2020{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_better.css' %}"/>
{% endblock %}
{% block content %}
    <div id="form-container">
        <img id="form-image" src="{% static 'images/galactus.png' %}" alt="Register">
        <div id="main-form">
            <h1>Register</h1>
            <form method="post" action="{% url 'profile_create_post' %}" id="user_registration_form"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="token" value="{{ token }}">
                <label>Email<sup>*</sup></label><input type="email" name="email" data-box="text" value="{{ email }}"
                                                       readonly>
                <label>First Name*</label><input type="text" name="first_name" id="user_fname" data-box="text"
                                                 placeholder="First Name" required>
                {% if error.first_name %}
                    <div class="form-error-message">{{ error.first_name|error_list }}</div>
                {% endif %}
                <label>Last Name</label><input type="text" name="last_name" id="user_lname" data-box="text"
                                               placeholder="Last Name">
                {% if error.last_name %}
                    <div class="form-error-message">{{ error.last_name|error_list }}</div>
                {% endif %}
                <label>Phone Number*</label><input type="text" name="phone_number" id="user_phone" data-box="text"
                                                   placeholder="Phone Number" required>
                {% if error.phone_number %}
                    <div class="form-error-message">{{ error.phone_number|error_list }}</div>
                {% endif %}
                <label>Password*</label><input type="password" name="password" id="user_password" data-box="text"
                                               placeholder="*******" required>
                {% if error.password %}
                    <div class="form-error-message">{{ error.password|error_list }}</div>
                {% endif %}
                <label>Confirm Password*</label><input type="password" name="password_confirm"
                                                       id="user_password_confirm"
                                                       data-box="text"
                                                       placeholder="*******" required>
                <div class="form-error-message" id="password_confirm_error" style="display: none"></div>
                <label>Gender*</label>
                <select name="gender" id="user_gender" required>
                    <option value="---" disabled selected></option>
                    {% for i in gender %}
                        <option value="{{ i.0 }}">{{ i.1 }}</option>
                    {% endfor %}
                </select>
                {% if error.gender %}
                    <div class="form-error-message">{{ error.gender|error_list }}</div>
                {% endif %}
                <label>College*</label><input type="search" name="college" id="user_college" data-box="text"
                                              placeholder="Your College" list="user_college_list"
                                              oninput="update_list()" required>
                {% if error.college %}
                    <div class="form-error-message">{{ error.college|error_list }}</div>
                {% endif %}
                <label>Profile Pic</label><input type="file" name="profile_pic" id="user_profile_pic" accept="image/*">
                {% if error.profile_pic %}
                    <div class="form-error-message">{{ error.profile_pic|error_list }}</div>
                {% endif %}
                <input type="button" data-box="button" value="Submit" onclick="check_submit()">
                {% if error|error_object %}
                    <div class="form-error-message">{{ error|error_object }}</div>
                {% endif %}
            </form>
            <div class="center"><a href="{% url 'login' %}">I'm already a member</a></div>
        </div>
    </div>
    <datalist id="user_college_list">
        {% for c in colleges %}
            <option value="{{ c.name }}">
        {% endfor %}
    </datalist>
{% endblock %}
{% block script %}
    <script>
        function check_submit() {
            let ps1 = document.getElementById('user_password').value;
            let ps2 = document.getElementById('user_password_confirm').value;
            if (ps1 !== ps2) {
                let b = document.getElementById('password_confirm_error');
                b.style.display = "block";
                b.innerHTML = "The new passwords don't match";
            } else {
                document.getElementById('user_registration_form').submit();
            }
        }

        let college_list = document.getElementById('user_college_list');
        let college_input = document.getElementById('user_college');

        function clear_list() {
            let el = college_list.lastChild;
            while (el) {
                el.remove();
                el = college_list.lastChild;
            }
        }

        function add_list(list) {
            for (let i = 0; i < list.length; i++) {
                let child = document.createElement('option');
                child.setAttribute('value', list[i]);
                college_list.appendChild(child);
            }
        }

        function update_list() {
            clear_list();
            let college = college_input.value;
            fetch("{% url 'college_list' %}" + "?college=" + college)
                .then((response) => {
                    response.text().then(list => {
                        let colleges = list.split("\n");
                        add_list(colleges);
                    });
                }).catch((error) => {
            })
        }
    </script>
{% endblock %}