{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="og:type" content="Website"/>
    <meta name="og:site_name" content="Abhisarga 2020"/>
    <meta name="og:image" content="abhisarga.iiits.in{% static 'images/logo.png' %}"/>
    <meta name="og:url" content="abhisarga.iiits.in"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta
            name="og:description"
            content="Abhisarga 2020: 20th - 22nd March. Abhisarga is the annual techno-cultural fest of the Indian Institute of Information Technology, Sri City. Celebrating Creativity and Innovation."
    />
    <meta name="theme-color" content="#1a002a"/>
    <title>{% block title %}{% endblock %}</title>
    <style>
        @font-face {
            font-family: "blowbrush";
            src: url({% static 'fonts/blowbrush.ttf' %}) format("truetype");
        }

        @font-face {
            font-family: "reality-check";
            src: url({% static 'fonts/Reality_Check.otf' %}) format("opentype");
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    {% block head %}{% endblock %}
</head>

<body>
<nav id="navbar">
    <div id="side-nav">
        <div class="hoverid">
            <a href="#">About</a>
            <a href="#">Events</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
    </div>
    <a href="#" id="logoimg">
        <img src="{% static 'images/logo.png' %}" alt="Abhisarga Logo"/>
    </a>
    <div id="nav-buttons">
        <button type="button" id="register">Register</button>
        <div id="hamburger" value=""></div>
    </div>
</nav>

{% block content %} {% endblock %}

<div id="footer">
    <div id="social">
        <a href="https://www.facebook.com/abhisarga/">
            <img src="{% static 'images/svg/facebook.svg' %}"/>
        </a>
        <a href="https://www.youtube.com/channel/UCf1DbeeTKGzpwRv9X7YECfg">
            <img src="{% static 'images/svg/youtube.svg' %}"/>
        </a>
        <a href="https://www.instagram.com/abhisarga/">
            <img src="{% static 'images/svg/instagram.svg' %}"/>
        </a>
    </div>
    <div id="address">
        Indian Institute of Information Technology<br/>
        630 Gnan Marg, Sri City<br/>Andhra Pradesh 517646
    </div>
</div>

<script>
    let a = document.getElementById("hamburger");
    a.setAttribute("value", "\u2630");
    a.addEventListener("click", () => {
        toggleNav();
        if (a.getAttribute("value") === "\u2630") {
            a.setAttribute("value", "\u2715");
        } else {
            a.setAttribute("value", "\u2630");
        }
    });

    function toggleNav() {
        document.getElementById("side-nav").classList.toggle("active");
    }
</script>
</body>
</html>
