{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="og:type" content="Website"/>
    <meta name="og:site_name" content="Abhisarga 2020"/>
    <meta name="og:image" content="abhisarga.iiits.in{% static 'images/logo.png' %}"/>
    <meta name="og:url" content="abhisarga.iiits.in"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="og:description"
          content="Abhisarga 2020: 20th - 22nd March. Abhisarga is the annual techno-cultural fest of the Indian Institute of Information Technology, Sri City. Celebrating Creativity and Innovation."/>
    <meta name="theme-color" content="#1a002a"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" sizes="32x32" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    {% block head %}
    {% endblock %}
</head>

<body>
<div id="side-nav">
    <div class="hoverid">
        <a href="{% url 'home' %}#about">About</a>
        <a href="#">Events</a>
        <a href="#">Registration</a>
        <a href="{% url 'sponsors' %}">Sponsors</a>
        <a href="#">Accommodation</a>
        <a href="{% url 'home' %}#test">Contact</a>
    </div>
</div>
<nav id="navbar">
    <a href="{% url 'home' %}#" id="logoimg">
        <img src="{% static 'images/logo.png' %}" alt="Abhisarga Logo"/>
    </a>
    <div id="nav-buttons">
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">
                <button type="button" id="register">Logout</button>
            </a>
        {% else %}
            <a href="{% url 'login' %}">
                <button type="button" id="register">Login</button>
            </a>
        {% endif %}
        <div id="hamburger" class="close"></div>
    </div>
</nav>

{% block content %}
{% endblock %}


<div id="footer">
    <div id="social">
        <a href="https://www.facebook.com/abhisarga/">
            <img src="{% static 'images/svg/facebook.svg' %}"/>
        </a>
        <a href="https://www.youtube.com/channel/UCf1DbeeTKGzpwRv9X7YECfg">
            <img src="{% static 'images/svg/youtube.svg' %}"/>
        </a>
        <a href="https://www.instagram.com/abhisarga/">
            <img src="{% static 'images/svg/instagram.svg' %}"/>
        </a>
    </div>
    <div id="address">
        Indian Institute of Information Technology<br/>
        630 Gnan Marg, Sri City<br/>Andhra Pradesh 517646
    </div>
</div>

<script>
    let a = document.getElementById("hamburger");
    let b = document.getElementById("side-nav");
    a.addEventListener("click", () => {
        toggleNav();
    });

    function toggleNav() {
        b.classList.toggle("active");
        a.classList.toggle("open");
        a.classList.toggle("close");
    }

    document.body.addEventListener('click', function (e) {
        if (!(b.contains(e.target) || a.contains(e.target)) && b.classList.contains("active")) {
            b.classList.remove("active");
            a.classList.remove("open");
            a.classList.add("close");
        }
    });
</script>
{% block script %}
{% endblock %}
</body>

</html>