{% extends 'base/basic.html' %}
{% load static %}
{% block title %}Abhisarga 2020{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}
    <div id="main">
        <svg viewBox="0 0 1000 180">
            <symbol id="s-text">
                <text class="heading-text-main" text-anchor="middle" alignment-baseline="central" x="50%" y="50%">
                    ABHISARGA
                </text>
            </symbol>
            <g class="g-ants">
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
            </g>
        </svg>
    </div>

    <div id="about">
        <div id="abttext">
            <h1 id="abthead">
                ABOUT
            </h1>
            <p>
                Abhisarga, the annual techno-cultural fest of <span style="color: yellow">IIIT Sri City</span>, is an
                equanimous fusion of energy, enthusiasm and talent. We welcome you all
                to Abhisarga to invigorate yourselves with a
                spectacular showcase of talents. Code your way to exciting rewards.
                Embrace yourself for another cultural extravaganza and join us this
                year from <span style="color: yellow; display: block;">20th - 22nd March</span> at IIIT Sri City!!!

            </p>
        </div>
        <div id="abtimg">
            <img src="{% static 'images/gifs/herogif-original.gif' %}" alt="Animated Heros"/>
        </div>
    </div>

    <div id="theme">
        <h1 id="themehead">
            Comic Con
        </h1>
        <div id="theme-data">
            This year our theme is comic con. Over the years comics have given us a
            world of imagination, emotions, thought, vibrant colors and fantasy
            characters to dive into. It has widened our perspectives on social
            conundrums motivating to conquer new heights in our scientific pursuits.
            All of this is just about to get real. Right from DC to Marvel, from tinkle to
            Manga we’ll unearth every secret the world has yet to confront.
        </div>
    </div>


    <div id="test">
        <h1>
            GET IN TOUCH
        </h1>
        <div id="columns">
            <div class="column">
                <p>
                    <strong>MANASA GAVINI</strong>
                    <br>
                    President
                    <br>Students' Council
                    <br>7330860139
                </p>
            </div>
            <div class="column">
                <p>
                    <strong>PRATYUSH RAJ</strong>
                    <br>
                    Vice President
                    <br>Students' Council
                    <br>9693314447
                </p>
            </div>
            <div class="column">
                <p>
                    <strong>LAGADH MATSA</strong>
                    <br>
                    Secretary
                    <br>Students' Council
                    <br>7842149220
                </p>
            </div>
            <div class="column">
                <p>
                    <strong>MAHITHA MADHIRA</strong>
                    <br>
                    Joint Secretary
                    <br>Students' Council
                    <br>6303656478
                </p>
            </div>
            <div class="column">
                <p>
                    <strong>YASHWANTH KIKKURI</strong>
                    <br>
                    Technical Secretary
                    <br>Students' Council
                    <br>8074519192
                </p>
            </div>
            <div class="column">
                <p>
                    <strong>ABHISHEK THRIPURANA</strong>
                    <br>
                    Cultural Secretary
                    <br>Students' Council
                    <br>9553522754
                </p>
            </div>
        </div>
    </div>
{% endblock %}