<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Details</title>
</head>
<body>
User {{ registration.user.first_name }} {{ registration.user.last_name }} <br>
Event {{ registration.event.name }} <br>
{% if registration.transaction %}
    order id {{ registration.transaction.order_id }} <br>
    status {{ registration.transaction.get_status_display }} <br>
{% endif %}
{{ registration.event.extra_param_1_name }} {{ registration.extra_param_1_value }} <br>
{{ registration.event.extra_param_2_name }} {{ registration.extra_param_2_value }} <br>
{{ registration.event.extra_param_3_name }} {{ registration.extra_param_3_value }} <br>

{% if registration.event.amount is not 0 and registration.transaction.status is not 'S' %}
    <button formaction="">Complete Payment</button>
{% endif %}
</body>
</html>
