<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Registration</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {% if no_extra_fields %}
        <p>Do you wish to confirm your registration?</p>
    {% endif %}

    {% for field in fields %}
        <label for="{{ field }}">{{ field }}</label>
        <input type="text" name="{{ field }}" id="{{ field }}" value="" required>
    {% endfor %}
    <input type="submit" value="Register">
</form>
</body>
</html>
