@font-face {
    font-family: "marker-felt";
    src: url("../fonts/Marker_Felt_Wide.ttf") format("truetype");
}

@font-face {
    font-family: "avenir-next";
    src: url("../fonts/avenir-next.otf") format("opentype");
}

@font-face {
    font-family: "poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "lacquer";
    src: url("../fonts/Lacquer-Regular.ttf") format("truetype");
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    font-family: "avenir-next";
}

#navbar {
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    box-shadow: none;
}

#navbar-images-container {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    width: 8em;
    justify-content: space-evenly;
}

#navbar-images-container .logoimg {
    width: auto;
    height: 2.4em;
    margin: 0.05em 0.2em;
}

#navbar-images-container .logoimg img {
    width: auto;
    height: 100%;
}

#nav-buttons {
    font-size: 1em;
    display: flex;
    box-sizing: border-box;
    padding: 1em 1em;
    justify-content: end;
    align-items: center;
}

#hamburger {
    position: relative;
    background-color: #fff;
    font-size: 1.3em;
    font-weight: 400;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburger.open::before {
    content: "";
    background: #141414;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.1em;
    height: 0.7em;
    transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
}

#hamburger.open::after {
    content: "";
    background: #141414;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.1em;
    height: 0.7em;
    transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
}

#hamburger.close::before {
    content: "";
    background: #fff;
    border-bottom: 0.1em solid #141414;
    border-top: 0.1em solid #141414;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.7em;
    height: 0.4em;
    transform: translateX(-50%) translateY(-50%);
}

#hamburger.close::after {
    content: "";
    background: #141414;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0.1em;
    width: 0.9em;
    transform: translateX(-50%) translateY(-50%);
}

#register {
    color: #fff;
    font-size: 0.8em;
    background: transparent;
    outline: 0;
    border: 0.1em solid #fff;
    height: 2em;
    width: 4.2em;
    font-weight: 600;
    border-radius: 0.4em;
    cursor: pointer;
}

#side-nav {
    z-index: 10;
    font-size: 2vw;
    position: fixed;
    height: 100%;
    width: 10em;
    top: 0;
    right: -10em;
    background-color: #444;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 2em 0;
}

#side-nav.active {
    right: 0em;
}

.hoverid a {
    font-family: "lacquer";
    color: #fff;
    font-size: 1.4em;
    display: block;
    width: 100%;
    text-align: center;
    height: 1em;
    margin: 0.8em 0;
    font-weight: 700;
}

.hoverid a:hover {
    font-family: "lacquer";
    font-weight: 500;
    transform: scale(1.15);
    text-shadow: -0.1em 0 red;
}

#footer-base {
    font-size: 2vw;
    width: 100%;
    background: transparent;
    height: 2.3em;
}

#footer {
    position: fixed;
    bottom: 0;
    font-size: 2vw;
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.9)
    );
    box-shadow: 0 -0.01em 0.5em #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
}

#footer #social {
    width: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer #address {
    text-align: right;
    padding: 0.1em 0;
    color: #fff;
    font-size: 0.7em;
    line-height: 1.1em;
}

#footer #social img {
    height: 0.9em;
    width: 0.9em;
    cursor: pointer;
    padding: 0.2em 0.5em;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #navbar {
        font-size: 2.3vw;
    }

    #side-nav {
        font-size: 2.3vw;
    }

    #footer {
        font-size: 2.3vw;
    }

    #footer-base {
        font-size: 2.3vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #navbar {
        font-size: 3vw;
    }

    #side-nav {
        font-size: 3vw;
    }

    #footer {
        font-size: 3vw;
    }

    #footer-base {
        font-size: 3vw;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #navbar {
        font-size: 3.6vw;
    }

    #side-nav {
        font-size: 3.6vw;
    }

    #footer {
        font-size: 3.6vw;
    }

    #footer-base {
        font-size: 3.6vw;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #navbar {
        font-size: 4.3vw;
    }

    #footer {
        font-size: 4.3vw;
    }

    #side-nav {
        font-size: 4.3vw;
    }

    #footer #address {
        text-align: center;
    }

    #footer-base {
        font-size: 4.3vw;
        height: 4em;
    }
}

@media (max-width: 320px) {
    #navbar {
        font-size: 4.8vw;
    }

    #side-nav {
        font-size: 4.8vw;
    }

    #footer {
        font-size: 4.8vw;
    }

    #footer #address {
        text-align: center;
    }

    #footer-base {
        font-size: 4.8vw;
        height: 4em;
    }
}
