@import url("https://fonts.googleapis.com/css?family=Bangers|Bungee+Shade|Fredericka+the+Great|Montserrat&display=swap");

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background: black;
    font-family: "avenir-next";
}

#main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

svg {
    display: block;
    font: 2em "Montserrat";
    width: 95%;
    margin: 0 auto;
    position: relative;
}

.g-ants {
    margin: 0;
    padding: 0;
}

.text-copy {
    fill: black;
    stroke-dasharray: 6% 29%;
    stroke-width: 0.45rem;
    stroke-dashoffset: 0;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #4d163d;
    animation-delay: -1s;
}

.text-copy:nth-child(2) {
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #bd0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #bd0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #fdb731;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.9);
    }
}

#theme {
    width: 100vw;
    min-height: 100vh;
    font-size: 2vw;
    background-color: #000000;
    box-sizing: border-box;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#themehead {
    margin: 0;
    padding: 0;
    font-size: 4em;
    text-align: center;
    font-family: "Bangers", cursive;
    color: #f28f25;
    text-shadow: 0.1em 0.1em 0.25em #000;
    cursor: default;
    display: block;
    animation: pulse 1.5s infinite;
}

#theme-data {
    box-sizing: border-box;
    padding: 0 1.2em;
    font-size: 1.2em;
    width: 20em;
    color: #fff;
}

#about {
    width: 100vw;
    min-height: 100vh;
    font-size: 2vw;
    background-color: #000000;
    box-sizing: border-box;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#abttext {
    width: 18em;
    text-align: center;
    color: #fff;
}

#abttext > p {
    font-size: 1.18em;
    padding: 0.15em;
    font-weight: 500;
    margin: 0;
    font-family: "Fredericka the Great";
}

#abthead {
    font-size: 2em;
    font-weight: bold;
    font-family: "Bungee Shade";
    padding: 0;
    margin: 0;
    padding-bottom: 0.4em;
    color: #00b3a3;
}

#abtimg {
    height: 19em;
}

#abtimg img {
    height: 100%;
    width: auto;
    max-width: 100%;
}

#test {
    position: relative;
    margin: 0;
    font-size: 2vw;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 0.5em;
    background: url("../images/bg.svg");
}

#test h1 {
    color: #fff;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    font-family: "poppins";
    padding: 0.6em 0;
}

#test #columns {
    width: 90%;
    margin: 1em auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #fff;
}

#test #columns .column {
    font-size: 0.8em;
    float: left;
    padding: 1em;
    width: 12em;
}

#test #columns .column p {
    font-weight: 500;
    margin: 0;
    padding: 0.2em;
}

#test #columns .column p strong {
    display: inline-block;
    position: relative;
    font-family: "avenir-next";
    margin-bottom: 0.8em;
    padding-bottom: 0.2em;
}

#test #columns .column p strong::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0.1em;
    background: #fff;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #about {
        font-size: 2.3vw;
    }

    #theme {
        font-size: 2.3vw;
    }

    #test {
        font-size: 2.3vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #about {
        font-size: 3vw;
    }

    #theme {
        font-size: 3vw;
    }

    #test {
        font-size: 3vw;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #about {
        font-size: 3.6vw;
    }

    #theme {
        font-size: 2.3vw;
    }

    #test {
        font-size: 3.6vw;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #about {
        font-size: 4.3vw;
    }

    #theme {
        font-size: 4.3vw;
    }

    #test {
        font-size: 4.3vw;
    }
}

@media (max-width: 320px) {
    #about {
        font-size: 4.8vw;
    }

    #theme {
        font-size: 4.8vw;
    }

    #test {
        font-size: 4.8vw;
    }
}
