html{
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

#main {
  background: url("../images/bg.svg");
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 5vw;
  background-attachment: fixed;
}

#main #character {
  width: 12em;
  height: auto;
}

#main #text {
  position: relative;
  height: 1.5em;
  background-color: red;
  z-index: 2;
}

#main #text img {
  position: absolute;
  height: 100%;
  width: auto;
}

#main #text #A1 {
  top: 1.82em;
  left: -4.15em;
  animation: animateA1 2.5s infinite;
}

#main #text #B {
  animation: animateB 2.5s infinite;
  top: 1em;
  left: -3.6em;
}

#main #text #H {
  animation: animateH 2.5s infinite;
  top: 0.25em;
  left: -2.7em;
}

#main #text #I {
  animation: animateI 2.5s infinite;
  top: 0.3em;
  left: -1.4em;
}

#main #text #S {
  animation: animateS 2.5s infinite;
  top: 0.1em;
  left: -0.9em;
}

#main #text #A2 {
  animation: animateA2 2.5s infinite;
  transform: rotateZ(15deg);
  top: 0.1em;
  left: 0.3em;
}

#main #text #R {
  animation: animateR 2.5s infinite;
  transform: rotateZ(15deg);
  top: 0em;
  left: 1.5em;
}

#main #text #G {
  animation: animateG 2.5s infinite;
  transform: rotateZ(35deg);
  top: 1.3em;
  left: 2.2em;
}

#main #text #A3 {
  animation: animateA3 2.5s infinite;
  transform: rotateZ(45deg);
  top: 2.5em;
  left: 2.8em;
}

@keyframes animateA1 {
  0% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes animateB {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes animateH {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animateI {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes animateS {
  0% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.8);
  }
}

@keyframes animateA2 {
  0% {
    transform: scale(0.9) rotateZ(15deg);
  }
  25% {
    transform: scale(1) rotateZ(15deg);
  }
  50% {
    transform: scale(0.9) rotateZ(15deg);
  }
  75% {
    transform: scale(0.8) rotateZ(15deg);
  }
  100% {
    transform: scale(0.9) rotateZ(15deg);
  }
}

@keyframes animateR {
  0% {
    transform: scale(1) rotateZ(15deg);
  }
  25% {
    transform: scale(0.9) rotateZ(15deg);
  }
  50% {
    transform: scale(0.8) rotateZ(15deg);
  }
  75% {
    transform: scale(0.9) rotateZ(15deg);
  }
  100% {
    transform: scale(1) rotateZ(15deg);
  }
}

@keyframes animateG {
  0% {
    transform: scale(0.9) rotateZ(30deg);
  }
  25% {
    transform: scale(1) rotateZ(30deg);
  }
  50% {
    transform: scale(0.9) rotateZ(30deg);
  }
  75% {
    transform: scale(0.8) rotateZ(30deg);
  }
  100% {
    transform: scale(0.9) rotateZ(30deg);
  }
}

@keyframes animateA3 {
  0% {
    transform: scale(0.8) rotateZ(45deg);
  }
  25% {
    transform: scale(0.9) rotateZ(45deg);
  }
  50% {
    transform: scale(1) rotateZ(45deg);
  }
  75% {
    transform: scale(0.9) rotateZ(45deg);
  }
  100% {
    transform: scale(0.8) rotateZ(45deg);
  }
}

#scroll-icons {
  position: relative;
  top: -0.5em;
  font-size: 1em;
  width: 100%;
  height: 1em;
  overflow: hidden;
}

.icons {
  position: absolute;
  margin: 0 0.5em;
  width: 1em;
  height: 100%;
  left: 100%;
}

#icon1 {
  animation: marquee 8s linear 0s infinite;
}

#icon2 {
  animation: marquee 8s linear 1s infinite;
}

#icon3 {
  animation: marquee 8s linear 2s infinite;
}

#icon4 {
  animation: marquee 8s linear 3s infinite;
}

#icon5 {
  animation: marquee 8s linear 4s infinite;
}

#icon6 {
  animation: marquee 8s linear 5s infinite;
}

#icon7 {
  animation: marquee 8s linear 6s infinite;
}

#icon8 {
  animation: marquee 8s linear 7s infinite;
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  80% {
    left: 0%;
  }
  100% {
    left: -25%;
  }
}

#about {
  width: 100vw;
  min-height: 100vh;
  font-size: 2vw;
  background-color: #111;
  box-sizing: border-box;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#abttext {
  width: 18em;
  text-align: center;
  color: #fff;
}

#abttext p {
  padding: 0.15em;
  font-weight: 500;
  margin: 0;
}

#abthead {
  font-size: 2em;
  font-weight: bold;
  font-family: "poppins";
  padding: 0;
  margin: 0;
  padding-bottom: 0.3em;
}

#abtimg {
  height: 19em;
}

#abtimg img {
  height: 100%;
  width: auto;
}

#test {
  position: relative;
  margin: 0;
  font-size: 2vw;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 0.5em;
  background: url("../images/bg.svg");
}

#test h1 {
  color: #fff;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  font-family: "poppins";
  padding: 0.4em 0;
  margin-left: 2em;
}

#test #columns {
  width: 90%;
  margin: 1em auto;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #fff;
}

#test #columns .column {
  font-size: 0.8em;
  float: left;
  padding: 2em;
  width: 20vmax;
}

#test #columns .column p {
  font-weight: 500;
  margin: 0;
  padding: 0.2em;
}

#test #columns .column p strong {
  display: inline-block;
  position: relative;
  font-family: "avenir-next";
  margin-bottom: 0.8em;
  padding-bottom: 0.2em;
}

#test #columns .column p strong::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 0.1em;
  background: #fff;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  #main {
    font-size: 5.7vw;
  }
  #about {
    font-size: 2.3vw;
  }
  #test {
    font-size: 2.3vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #main {
    font-size: 6.3vw;
  }
  #about {
    font-size: 3vw;
  }
  #test {
    font-size: 3vw;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #main {
    font-size: 7vw;
  }
  #about {
    font-size: 3.6vw;
  }
  #test {
    font-size: 3.6em;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #main {
    font-size: 7.8vw;
  }
  #about {
    font-size: 4.3vw;
  }
  #test {
    font-size: 4.3vw;
  }
}

@media (max-width: 320px) {
  #main {
    font-size: 8.3vw;
  }
  #about {
    font-size: 4.8vw;
  }
  #test {
    font-size: 4.8vw;
  }
}
