html {
    scroll-behavior: smooth;
}

body {
    background: url("../images/bg.svg");
}

a {
    text-decoration: none;
}

#main {
    background: url("../images/bg.svg");
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5vw;
    background-attachment: fixed;
}

#main #character {
    width: 10em;
    height: auto;
}

#main #text {
    margin-top: 0.5em;
    position: relative;
    height: 1.5em;
}

#main #text img {
    position: absolute;
    height: 100%;
    width: auto;
}

#main #text #A1 {
    animation: animateA1 2.5s infinite;
    top: 1.85em;
    left: -4.3em;
}

#main #text #B {
    animation: animateB 2.5s infinite;
    top: 1.1em;
    left: -3.73em;
}

#main #text #H {
    animation: animateH 2.5s infinite;
    top: 0.62em;
    left: -2.67em;
}

#main #text #I {
    animation: animateI 2.5s infinite;
    top: 0.34em;
    left: -1.55em;
}

#main #text #S {
    animation: animateS 2.5s infinite;
    top: 0.15em;
    left: -1em;
}

#main #text #A2 {
    animation: animateA2 2.5s infinite;
    transform: rotateZ(15deg);
    top: 0.17em;
    left: 0.2em;
}

#main #text #R {
    animation: animateR 2.5s infinite;
    transform: rotateZ(15deg);
    top: 0.25em;
    left: 1.3em;
}

#main #text #G {
    animation: animateG 2.5s infinite;
    transform: rotateZ(35deg);
    top: 1.37em;
    left: 1.98em;
}

#main #text #A3 {
    animation: animateA3 2.5s infinite;
    transform: rotateZ(45deg);
    top: 2.5em;
    left: 2.3em;
}

@keyframes animateA1 {
    0% {
        transform: scale(0.8);
    }
    25% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(0.8);
    }
}

@keyframes animateB {
    0% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(0.9);
    }
}

@keyframes animateH {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(0.8);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animateI {
    0% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(0.9);
    }
}

@keyframes animateS {
    0% {
        transform: scale(0.8);
    }
    25% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(0.8);
    }
}

@keyframes animateA2 {
    0% {
        transform: scale(0.9) rotateZ(15deg);
    }
    25% {
        transform: scale(1) rotateZ(15deg);
    }
    50% {
        transform: scale(0.9) rotateZ(15deg);
    }
    75% {
        transform: scale(0.8) rotateZ(15deg);
    }
    100% {
        transform: scale(0.9) rotateZ(15deg);
    }
}

@keyframes animateR {
    0% {
        transform: scale(1) rotateZ(15deg);
    }
    25% {
        transform: scale(0.9) rotateZ(15deg);
    }
    50% {
        transform: scale(0.8) rotateZ(15deg);
    }
    75% {
        transform: scale(0.9) rotateZ(15deg);
    }
    100% {
        transform: scale(1) rotateZ(15deg);
    }
}

@keyframes animateG {
    0% {
        transform: scale(0.9) rotateZ(30deg);
    }
    25% {
        transform: scale(1) rotateZ(30deg);
    }
    50% {
        transform: scale(0.9) rotateZ(30deg);
    }
    75% {
        transform: scale(0.8) rotateZ(30deg);
    }
    100% {
        transform: scale(0.9) rotateZ(30deg);
    }
}

@keyframes animateA3 {
    0% {
        transform: scale(0.8) rotateZ(45deg);
    }
    25% {
        transform: scale(0.9) rotateZ(45deg);
    }
    50% {
        transform: scale(1) rotateZ(45deg);
    }
    75% {
        transform: scale(0.9) rotateZ(45deg);
    }
    100% {
        transform: scale(0.8) rotateZ(45deg);
    }
}

#about {
    width: 100vw;
    min-height: 100vh;
    font-size: 2vw;
    background-color: #111;
    box-sizing: border-box;
    padding: 0.7em 0 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#abttext {
    width: 18em;
    text-align: center;
    color: #fff;
}

#abttext p {
    font-size: 0.75em;
    padding: 0.2em;
    font-weight: 500;
    margin: 0;
}

#abthead {
    font-size: 2em;
    font-weight: bold;
    font-family: "poppins";
    padding: 0;
    margin: 0;
    padding-bottom: 0.3em;
}

#abtimg {
    height: 19em;
}

#abtimg img {
    height: 100%;
    width: auto;
}

#test {
    position: relative;
    margin: 0;
    font-size: 2vw;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 0.5em;
    background: url("../images/bg.svg");
}

#test h1 {
    color: #fff;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    font-family: "poppins";
    padding: 0.6em 0;
}

#test #columns {
    width: 90%;
    margin: 1em auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #fff;
}

#test #columns .column {
    font-size: 0.8em;
    float: left;
    padding: 1em;
    width: 12em;
}

#test #columns .column p {
    font-weight: 500;
    margin: 0;
    padding: 0.2em;
}

#test #columns .column p strong {
    display: inline-block;
    position: relative;
    font-family: "avenir-next";
    margin-bottom: 0.8em;
    padding-bottom: 0.2em;
}

#test #columns .column p strong::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0.1em;
    background: #fff;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #main {
        font-size: 5.7vw;
    }

    #about {
        font-size: 2.3vw;
    }

    #test {
        font-size: 2.3vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #main {
        font-size: 6.3vw;
    }

    #about {
        font-size: 3vw;
    }

    #test {
        font-size: 3vw;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #main {
        font-size: 7.8vw;
    }

    #about {
        font-size: 3.6vw;
    }

    #test {
        font-size: 3.6vw;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #main {
        font-size: 8.8vw;
    }

    #about {
        font-size: 4.3vw;
    }

    #test {
        font-size: 4.3vw;
    }
}

@media (max-width: 320px) {
    #main {
        font-size: 9.8vw;
    }

    #about {
        font-size: 4.8vw;
    }

    #test {
        font-size: 4.8vw;
    }
}
