<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <label for="old_password">Old Password:</label><input type="password" name="old" id="old_password">
    <br>
    <label for="user_password1">New Password:</label><input type="password" name="password1" id="user_password1">
    <br>
    <label for="user_password2">Confirm New Password:</label><input type="password" name="password2"
                                                                    id="user_password2">
    <br>
    <input type="submit" value="Submit">
    {{ error }}
</form>
</body>
</html>