{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register | Abhisarga 2020</title>
</head>
<body>
<form method="post" action="{% url 'password_reset_complete' %}">
    {% csrf_token %}
    <input type="hidden" name="idb64" value="{{ idb64 }}">
    <input type="hidden" name="token" value="{{ token }}">
    <label for="user_password1">New Password:</label><input type="password" name="password1" id="user_password1">
    <br>
    <label for="user_password2">Confirm New Password:</label><input type="password" name="password2"
                                                                    id="user_password2">
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>