{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register | Abhisarga 2020</title>
</head>
<body>
<form method="post" action="{% url 'profile_create_post' %}">
    {% csrf_token %}
    Email: {{ email }}
    <br>
    <input type="hidden" name="email" id="user_email" value="{{ email }}">
    <input type="hidden" name="token" id="user_token" value="{{ token }}">
    <label for="user_fname">First Name:</label><input type="text" name="first_name" id="user_fname">
    <br>
    <label for="user_lname">Last Name:</label><input type="text" name="last_name" id="user_lname">
    <br>
    <label for="user_phone">Phone Number:</label><input type="text" name="phone_number" id="user_phone">
    <br>
    <label for="user_password">Password:</label><input type="password" name="password" id="user_password">
    <br>
    <label for="user_profile_pic">Profile Pic:</label><input type="file" name="profile_pic" id="user_profile_pic">
    <br>
    <label for="user_gender">Gender:</label>
    <select name="gender" id="user_gender">
        <option value="" disabled selected></option>
        {% for i in gender %}
            <option value="{{ i.0 }}">{{ i.1 }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="user_college">College:</label>
    <select name="college" id="user_college">
        <option value="" disabled selected></option>
        {% for i in colleges %}
            <option value="{{ i.pk }}">{{ i }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" value="Submit">
</form>
{% if error %}
    <p style="color: red">{{ error }}</p>
{% endif %}
</body>
</html>