{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="GOOGLE_CLIENT_ID" content="{{ google_client_id }}">
    <title>Register | Abhisarga 2020</title>
    <script src="{% static 'js/google-signin.js' %}"></script>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <label for="user_email">Email:</label><input type="email" name="email" id="user_email">
    <br>
    <input type="submit" value="Submit">
</form>
<button id="google-sign-in-button">SignUp with Google</button>
<form style="display: none" id="google-sign-in-submit-form" method="post">
    {% csrf_token %}
    <input type="hidden" value="" name="google-id-token">
</form>
{% if error %}
    <p style="color: red">{{ error }}</p>
{% endif %}
<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
</body>
</html>